body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    color: #ff0800;
    margin: 0;
    padding: 0%;

}


#scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none; /* Anfangs unsichtbar */
    z-index: 1000; /* Sicherstellen, dass es über anderen Inhalten liegt */
}


/* code for the nav bar */

.navbar-links {
    display: inline;
}

#navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /* fix on top */
    z-index: 1000;
    /* that navbar is on top of other items */
    background-color: white;
    /* Hintergrundfarbe geändert */
    padding:20px 0px 20px 0px;

}

.header-image {
    width: auto;
    height: 45px;
}


#navbar a {
    text-decoration: none;
    color: #ff0800;

}

.navbar-links a {
    margin-left: 50px;


}

#navbar a:hover {
    color: #ff0800;
    font-weight: bold;}


/* text and elements styling */


h1 {
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 140px;
    letter-spacing: -3px;
    line-height: 0.9;
    margin-top: 0;
    margin-bottom: px;

}

h2 {
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 50px;
    letter-spacing: -3px;
    line-height: 0.9;
    margin-top: 0;
}

img {
    width: 50%;
    height: auto;
}

.text {
    max-width: 75%;
}


.project-links a {
    text-decoration: none;
    color: #ff0800;
    line-height: 2;
}

.project-links a:hover {
    text-decoration: none;
    color: #ff0800;
    font-weight: bold;
    line-height: 2;
}


.button {
    text-decoration: none;
    color: #ff0800;
    line-height: 2;
}

.button:hover {
    text-decoration: none;
    color: #ff0800;
    line-height: 2;
    font-weight: bold;
}



.line-style {
    width: 400px;           /* Breite der Linie */
    border: 0.5px solid red;  /* Rote Farbe und Dicke der Linie */
    margin-left: 0;         /* Kein Abstand zum linken Rand */

}

.line-style-long {
    width: 100%;           /* Breite der Linie */
    border: 0.5px solid red;  /* Rote Farbe und Dicke der Linie */
    margin-left: 0;         /* Kein Abstand zum linken Rand */
}

.padded-content {
    padding: 2%;
}



.headercontainer{
    display: flex;             /* Flexbox-Layout aktivieren */
    justify-content: space-between; /* Abstand zwischen den Containern */
    margin-top: 0;
    margin-bottom: 50px;
}


.headerright {
    position: relative; /* Ermöglicht das absolute Positionieren des GIFs innerhalb von headerright */
    width: 50%;
    height: auto;

}

.gif-position {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto; /* Größe anpassen, falls nötig */
    height: 100%; /* Größe anpassen, falls nötig */
}




/* project container */



.container {
    display: flex;             /* Flexbox-Layout aktivieren */
    justify-content: space-between; /* Abstand zwischen den Containern */
    margin-top: 100px;

}

.left, .right {
    flex: 1;                         /* Beide Container gleich groß machen */
    display: flex; /* Flexbox-Layout aktivieren */
    flex-direction: column;
    justify-content: space-between;             
}


.right img {
    max-width: 100%;           /* Bild passt sich dem Container an */
    height: auto;              /* Proportionale Höhe */
    width: 100%;
}







/* Footer Styling */

footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-image {
    width: auto;
    /* Größe des Bildes */
    height: 70px;
}


footer a {
    text-decoration: none;
    color: #ff0800;
    font-weight: 200;
    display: flex;
    align-items: center;
}

footer a:hover {
    color: #ff0800;
    font-weight: bold;}



/* styling for the scrolling text animation */

#scrolling-word-container {
    width: 100%;
    border-top: 1px solid #ff0800;
    /* red line top */
    border-top-width: 100%;
    border-bottom: 1px solid #ff0800;
    /* red line bottom */


}

#scrolling-word {
    display: inline-block;
    font-weight: 200;
    white-space: nowrap;
    /* Der Text bleibt in einer Zeile */
}
